{{!-- Hidden divs with data passed from the Express server --}}
<div id="paymentMethodsResponse" class="hidden">{{{ response }}}</div>
<div id="originKey" class="hidden">{{ originKey }}</div>

<div id="payment-page">
  <div class="container">
    {{> customerform}}
      
    <div id="dropin-container"></div>
  </div>
</div>

{{!-- Adyen Component client code --}}
<script type="text/javascript" src="../adyenImplementation.js"></script>
